nav {
    display: block;
    margin: 0;
    padding: 4px 0 4px 0;
    background: #e3e3df;
    border: 0;
    border-bottom: 2px solid #999999;
}

nav a {
    margin: 0;
    padding: 8px 1em 8px 1em;
    color: #555555;
    font-family: Tahoma,Geneva,sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: #111111;
    background: #999999;
}

nav a.selected {
    color: #f5f5f5;
    background: #999999;
}
